<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All User's</title>
</head>
    <body>
        <h3>All Registered Users</h3>
        <a href="/web/account-controller/home">Home</a><br><br>
        <table border="1">
            <thead>
            <tr>
                <th>Serial</th>
                <th>User Name</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Active/Inactive</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user,iterator : ${users}">
                <td th:text="${iterator.index}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.fullName}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.active}?'Active':'Inactive'"></td>
                <td><a th:href="@{'/web/account-controller/update-entry/' + ${user.id}}">Update</a>|<a th:href="@{'/web/account-controller/delete/' + ${user.id}}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </body>
</html>