<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css}" />-->
</head>
<body>
<h1>Register Please</h1>
<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <input class="form-control" id="ds" name="ds">
        </div>
    </div>
</div>

<form action="#" th:action="@{/web/account-controller/update}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}" ></p>
    <p>Full-Name:<input type="text" th:field="*{fullName}" ></p>
    <p>Password:<input type="password" th:field="*{password}"></p>
    <p>E-Mail:<input type="email" th:field="*{email}"></p>
    <p><input type="hidden" th:field="*{createDate}"></p>
    <p><input type="hidden" th:field="*{createBy}"></p>
    <p><input type="hidden" th:field="*{updateBy}"></p>
    <p><input type="hidden" th:field="*{updateDate}"></p>
    <p><input type="hidden" th:field="*{username}"></p>
    <p><input type="hidden" th:field="*{active}"></p>
    <p><input type="hidden" th:field="*{activeDate}"></p>
    <p><p>Authorities</p>
    <select th:field="*{authorities}" multiple="multiple">
        <option th:each="auth : ${authorities}" th:value="${auth.name}" th:text="${auth.name}"></option>
    </select>
    <br>
    <input type="submit" value="Update">
</form>
</body>
</html>